
body {
  text-align: center;
  margin: 0;
  background-image: url("./img/viktor-forgacs-6bMyJEvr-Cw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.container {
  align-content: center;
  background-color: lightgray;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 6em;
  max-width: 10vw;
  padding: 1em;
  border-radius: 35px;
  box-shadow: 8px 8px 8px -3px black;
}

#cityTemp {
  margin-top: 10px;
}

button {
  margin: 2em 0em;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: orange;
}

.high-usage {
  color: red;
}



